# OS
.DS_Store
desktop.ini
@TYPEORM_SYNCROZINE

# compiled output
/dist

# Logs
logs
*.log
!/src/*

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
/node_modules

# dotenv environment variables file
.env
.env.*

package-lock.json
backup.sh\n# Ignore certificate files\n*.pem
